<!doctype html>
<html lang="is">
<head>
  <meta charset="utf-8">
  <title>Leikir dagsins</title>
</head>
<body>
  <h3>Allir leikir tengdir íslenskum fótbolta<h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" id="date">Dagsetning:</th>
        <th scope="col" id="time">Tími:</th>
        <th scope="col" id="tourny">Mót:</th>
        <th scope="col" id="location">Staðsetning:</th>
        <th scope="col" id="home">Heimalið:</th>
        <th scope="col" id="away">Útilið:</th>
      </tr>
    </thead>
    <tbody id="games">
    </tbody>
  </table>
</body>
</html>
