<!doctype html>
<html lang = "is">
  <head>
    <meta charset="utf-8">
    <title>Spjallþráður fyrir áhugafólk um íslenkan fótbolta</title>
  </head>

  <body>
    <header>
      <nav class="header-nav">
        <ul class ="nav-ul">
          <li class="nav-li"> <a class="nav-a" href="!" title="Forsíða">Forsíða</a></li>
          <li class="nav-li"> <a class="nav-a" href="!" title="Spjallþráður">Spjallþráður</a></li>
          <li class="nav-li"> <a class="nav-a" href="!" title="Leikir dagsins">Leikir dagsins</a></li>
        </ul>
      </nav>
      <h2>Áhugafólk um íslenskan fótbolta</h2>
    </header>
    <main>
      <div class="latestnews">
        <p>Nýjustu fréttir úr fótboltaheimi Íslands</p>
    </main>
    <footer>
    </footer>
  </body>
</html>
